@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutContainerFluid";
}
<link href="~/css/index.css" rel="stylesheet" />

<div class="container-for-text">
    <span>Best GYM Equipment</span>
    <br />
    <span>Light PANNATTA</span>
</div>



@section scripts{
    <script src="~/js/index.js"></script>
}