@model IEnumerable<OnlineStore.Data.Models.Product>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="display" id="productTable">

    <thead>
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>Width</th>
            <th>Length</th>
            <th>Height</th>
            <th>Weight</th>
            <th>StandardLoad</th>
            <th>OptionalLoad</th>
            <th>Disabled</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

@section scripts{
    <script src="~/js/Admin/Products/adminProductsIndex.js">

    </script>
}