@model OnlineStore.Data.DTO_ViewModels.MuscleLoadViewDTO

<div class="form-check">
    <input class="form-check-input checkbox-muscle-load" type="checkbox" id="@Model.MuscleName@Model.MuscleLoadId" value="@Model.MuscleLoadId">
    <label class="form-check-label" for="@Model.MuscleName@Model.MuscleLoadId">
        @Model.MuscleName
    </label>
</div>