@using OnlineStore.Data.DTO_ViewModels

@model List<MuscleLoadViewDTO>

<h4>Categories</h4>
<hr />
<h6>Muscle Load</h6>
@foreach (var muscle in Model)
{
    <div class="form-check">
        <input class="form-check-input checkbox-muscle-load" type="checkbox" id="@muscle.MuscleName@muscle.MuscleLoadId" value="@muscle.MuscleLoadId">
        <label class="form-check-label" for="@muscle.MuscleName@muscle.MuscleLoadId">
            @muscle.MuscleName
        </label>
    </div>
}
