@using OnlineStore.Data.DTO_ViewModels
@using System.Linq

@model List<AdminMuscleLoadViewDTO>
@{
    ViewBag.Title = "Product list";
}

<h2>Product list</h2>
<div class="row">
    <div class="col-2">
        <partial name="_DisplayMuscleLoadCheckboxPartial" model="Model" />
    </div>
    <div class="col-10">
        <table id="productTable" class="display">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Image</th>
                    <th>ProductName</th>
                    <th>Width</th>
                    <th>Length</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>StandardLoad</th>
                    <th>OptionalLoad</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts{ 
    
    <script src="~/js/Product/productIndex.js"></script>
}
